<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplo de BootStrap en Spring</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Usando Bootstrap</h1>
            <p class="lead">
                Ejemplo de BootStrap en Spring
            </p>
            <hr class="my-4">
            <p>El siguiente es el cuerpo del documento...</p>
            <div>
			<p>Contenido del documento.....</p>
            </div>
            <hr class="my-4">
            <div>
                <div class="row">
                    <div class="col-2"> </div>
                    <div class="col-8">
                        <p>Desarrollo de Aplicaciones Web. MSC Adolfo Luna Sánchez.</p>
                        <p>ITSSNP 2020.</p>
                    </div>
                    <div class="col-2"> </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>